.rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.rating li {
  padding: 1px;
  color: #bdbdbd;
  text-align: center;
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.rating li.filled {
  color: #fd0;
}

.rating li.filled.readonly-true {
  /* color: #666; dark gray */
}

.rating li {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}

.rating li.readonly-true {
  cursor: default;
}