<div class="checkout checkout-info">
  <div class="container-fluid pb50">

      <h1 class="border-left-orange extra-large text-lighter-1x mb20">
        {{ 'checkout.checkout' | translate }}
        <a ng-if="!$store.user" ng-click="toggleModal()" class="btn btn-white btn-raised ml20">
          {{'general.login' | translate}}
          <i class="fa fa-chevron-circle-right pl5"></i>
        </a>
      </h1>

      <form id="info_form" name="info_form" ng-keydown="key_watch_info($event)">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12" ng-if="!$store.user">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p class="text-2x m0">{{ 'checkout.personal_details' | translate }}</p>
              </div>

              <div class="panel-body pb20 pt20 text-lighter-1x">

                <div class="input-group pb20" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">
                      {{'general.form.seccond_id_number.label' | translate}}&#42;
                    </span>
                  </span>
                  <input
                    class="form-control"
                    name="seccond_id_number"
                    ng-model="info.form_data.seccond_id_number"
                    placeholder="{{'general.form.seccond_id_number.placeholder' | translate}}"
                    ng-required="!$store.user"
                    type="text">
                </div>


                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">
                      {{ 'general.form.lname.placeholder' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="personal.last_name"
                    ng-model="info.form_data.last_name"
                    placeholder="{{ 'general.form.lname.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">
                      {{ 'general.form.fname.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="personal.first_name"
                    ng-model="info.form_data.first_name"
                    placeholder="{{ 'general.form.fname.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">{{ 'general.form.email.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="email"
                    ng-model="info.form_data.email"
                    placeholder="{{ 'general.form.email.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">{{ 'general.form.phone.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="phone"
                    ng-model="info.form_data.phone"
                    placeholder="{{ 'general.form.phone.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">{{'general.form.company_name.label' | translate}}</span>
                  </span>
                  <input
                    class="form-control"
                    name="business.company_name"
                    ng-model="info.form_data.company_name"
                    placeholder="{{'general.form.company_name.label' | translate}}"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">{{ 'general.form.password.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="password"
                    ng-model="info.form_data.password"
                    placeholder="{{ 'general.form.password.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="password">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">{{ 'general.form.password_confirm.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="password_confirm"
                    ng-model="info.form_data.password_confirm"
                    placeholder="{{ 'general.form.password_confirm.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="password">
                </div>
              </div>
              <!-- <div class="panel-body pb20 pt20 text-lighter-1x">

                <div class="form-group mb10 is-empty" show-errors>
                  <label for="" class="control-label">
                    {{'general.form.seccond_id_number.label' | translate}}&#42;
                  </label>
                  <input
                    class="form-control"
                    id="personal.seccond_id_number"
                    name="personal.seccond_id_number"
                    ng-model="info.form_data.personal.seccond_id_number"
                    placeholder="{{'general.form.seccond_id_number.placeholder' | translate}}"
                    ng-required="!$store.user"
                    type="text"/>
                </div>

                <div class="form-group is-empty" show-errors>
                  <label for="" class="control-label">
                  {{ 'general.form.lname.placeholder' | translate }}&#42;
                  </label>
                  <input
                    class="form-control"
                    name="personal.last_name"
                    ng-model="info.form_data.last_name"
                    placeholder="{{ 'general.form.lname.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="text">
                </div>

                <div class="form-group is-empty" show-errors>
                  <label for="" class="control-label">
                    {{ 'general.form.fname.label' | translate }}&#42;
                  </label>
                  <input
                    class="form-control"
                    name="personal.first_name"
                    ng-model="info.form_data.first_name"
                    placeholder="{{ 'general.form.fname.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="text">
                </div>

                <div class="form-group is-empty" show-errors>
                  <label for="" class="control-label">
                    {{ 'general.form.email.label' | translate }}&#42;
                  </label>
                  <input
                    class="form-control"
                    name="personal.email"
                    ng-model="info.form_data.email"
                    placeholder="{{ 'general.form.email.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="email">
                </div>

                <div class="form-group is-empty" show-errors>
                  <label for="" class="control-label">
                    {{ 'general.form.phone.label' | translate }}&#42;
                  </label>
                  <input
                    class="form-control"
                    name="phone"
                    ng-model="info.form_data.phone"
                    placeholder="{{ 'general.form.phone.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="tel">
                </div>

                <div class="form-group is-empty" show-errors>
                  <label for="" class="control-label">
                    {{'general.form.company_name.label' | translate}}
                  </label>
                  <input
                    class="form-control"
                    name="business.company_name"
                    ng-model="info.form_data.company_name"
                    placeholder="{{'general.form.company_name.label' | translate}}"
                    type="text">
                </div>

                <div class="form-group is-empty" show-errors>
                  <label for="" class="control-label">
                    {{ 'general.form.password.label' | translate }}&#42;
                  </label>
                  <input
                    class="form-control"
                    name="password"
                    ng-model="info.form_data.password"
                    placeholder="{{ 'general.form.password.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="password">
                </div>

                <div class="form-group is-empty" show-errors>
                  <label for="" class="control-label">
                    {{ 'general.form.password_confirm.label' | translate }}&#42;
                  </label>
                  <input
                    class="form-control"
                    name="password_confirm"
                    ng-model="info.form_data.password_confirm"
                    placeholder="{{ 'general.form.password_confirm.placeholder' | translate }}"
                    ng-required="!$store.user"
                    type="password">
                </div>

              </div> -->

            </div>
          </div>

          <div ng-if="$store.user">
            <input type="hidden" name="user_id" value="{{$store.user.id}}">
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">

            <div class="panel panel-default">
              <div class="panel-heading">
                <p class="text-2x">{{ 'checkout.billing_address' | translate }}</p>
              </div>

              <div class="panel-body pt20 pb20 text-lighter-1x">
                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">
                      {{ 'general.form.lname.placeholder' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="billing.last_name"
                    ng-model="info.form_data.billing.last_name"
                    placeholder="{{ 'general.form.lname.placeholder' | translate }}"
                    ng-required="true"
                    type="text">
                </div>
                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">
                      {{ 'general.form.fname.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="billing.first_name"
                    ng-model="info.form_data.billing.first_name"
                    placeholder="{{ 'general.form.fname.placeholder' | translate }}"
                    ng-required="true"
                    type="text">
                </div>
                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-address"></span>
                    <span class="control-label">
                      {{ 'general.form.address1.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="billing.address1"
                    ng-model="info.form_data.billing.address1"
                    placeholder="{{ 'general.form.address1.placeholder' | translate }}"
                    ng-required="true"
                    type="text">
                </div>
                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-address"></span>
                    <span class="control-label">
                      {{ 'general.form.address2.label' | translate }}</span>
                  </span>
                  <input
                    class="form-control"
                    name="billing.address2"
                    ng-model="info.form_data.billing.address2"
                    placeholder="{{ 'general.form.address2.placeholder' | translate }}"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-city"></span>
                    <span class="control-label">
                      {{ 'general.form.city.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="billing.city"
                    ng-model="info.form_data.billing.city"
                    placeholder="{{ 'general.form.city.placeholder' | translate }}"
                    ng-required="true"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-postcode"></span>
                    <span class="control-label">
                      {{ 'general.form.postal_code.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="billing.zipcode"
                    ng-model="info.form_data.billing.zipcode"
                    placeholder="{{ 'general.form.postal_code.placeholder' | translate }}"
                    ng-required="true"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-country"></span>
                    <span class="control-label">
                      {{ 'general.form.country.label' | translate }}*</span>
                  </span>
                  <div class="large-selectbox clearfix">
                    <select
                      class="form-control"
                      id="personal-country-select"
                      name="billing.country"
                      ng-model="info.form_data.billing.country"
                      ng-options="('countries.' + country.id | translate) for country in $store.countries"
                      ng-required="true"
                      >
                    </select>
                  </div>
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-region"></span>
                    <span class="control-label">
                      {{ 'general.form.state.label' | translate }}&#42;</span>
                  </span>
                  <div class="large-selectbox clearfix">
                    <select
                      class="form-control"
                      id="business-zone-select"
                      name="billing.zone"
                      ng-model="info.form_data.billing.zone"
                      ng-options="('zones.' + zone.id | translate) for zone in $store.zones | filter:{country_id:info.form_data.billing.country.id} : true"
                      ng-required="true"
                      >
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="checkbox clearfix pb10">
                <label>
                  <input ng-model="info.form_data.shipping_and_billing_same" name="shipping_and_billing_same" type="checkbox" required>
                  <span class="pl5">
                    {{ 'checkout.billing_shipping_adr_same' | translate }}
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div ng-if="!info.form_data.shipping_and_billing_same" class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p class="text-2x">{{ 'checkout.shipping_address' | translate }}</p>
              </div>
              <div class="panel-body pt20 pb20 text-lighter-1x">
                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">
                      {{ 'general.form.lname.placeholder' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="shipping.last_name"
                    ng-model="info.form_data.shipping.last_name"
                    placeholder="{{ 'general.form.lname.placeholder' | translate }}"
                    ng-required="!info.form_data.shipping_and_billing_same"
                    type="text">
                </div>
                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="control-label">
                      {{ 'general.form.fname.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="shipping.first_name"
                    ng-model="info.form_data.shipping.first_name"
                    placeholder="{{ 'general.form.fname.placeholder' | translate }}"
                    ng-required="!info.form_data.shipping_and_billing_same"
                    type="text">
                </div>
                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-address"></span>
                    <span class="control-label">
                      {{ 'general.form.address1.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="shipping.address1"
                    ng-model="info.form_data.shipping.address1"
                    placeholder="{{ 'general.form.address1.placeholder' | translate }}"
                    ng-required="!info.form_data.shipping_and_billing_same"
                    type="text">
                </div>
                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-address"></span>
                    <span class="control-label">
                      {{ 'general.form.address2.label' | translate }}</span>
                  </span>
                  <input
                    class="form-control"
                    name="shipping.address2"
                    ng-model="info.form_data.shipping.address2"
                    placeholder="{{ 'general.form.address2.placeholder' | translate }}"
                    ng-required="!info.form_data.shipping_and_billing_same"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-city"></span>
                    <span class="control-label">
                      {{ 'general.form.city.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="shipping.city"
                    ng-model="info.form_data.shipping.city"
                    placeholder="{{ 'general.form.city.placeholder' | translate }}"
                    ng-required="!info.form_data.shipping_and_billing_same"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-postcode"></span>
                    <span class="control-label">
                      {{ 'general.form.postal_code.label' | translate }}&#42;</span>
                  </span>
                  <input
                    class="form-control"
                    name="shipping.zipcode"
                    ng-model="info.form_data.shipping.zipcode"
                    placeholder="{{ 'general.form.postal_code.placeholder' | translate }}"
                    ng-required="!info.form_data.shipping_and_billing_same"
                    type="text">
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-country"></span>
                    <span class="control-label">
                      {{ 'general.form.country.label' | translate }}*</span>
                  </span>
                  <div class="large-selectbox clearfix">
                    <select
                      class="form-control"
                      id="personal-country-select"
                      name="shipping.country"
                      ng-model="info.form_data.shipping.country"
                      ng-options="('countries.' + country.id | translate) for country in $store.countries"
                      ng-required="!info.form_data.shipping_and_billing_same"
                      >
                    </select>
                  </div>
                </div>

                <div class="input-group" show-errors>
                  <span class="input-group-addon">
                    <span class="input-icon input-icon-region"></span>
                    <span class="control-label">
                      {{ 'general.form.state.label' | translate }}&#42;</span>
                  </span>
                  <div class="large-selectbox clearfix">
                    <select
                      class="form-control"
                      id="business-zone-select"
                      name="shipping.zone"
                      ng-model="info.form_data.shipping.zone"
                      ng-options="('zones.' + zone.id | translate) for zone in $store.zones | filter:{country_id:info.form_data.shipping.country.id} : true"
                      ng-required="!info.form_data.shipping_and_billing_same"
                      >
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p class="text-2x">{{ 'checkout.your_order' | translate }}</p>
              </div>
              <div class="panel-body">
                <div ngcart-cart></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row payments">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="text-2x">
                  <span class="hidden-xs">{{ 'checkout.payment' | translate }}</span>
                  <img src="assets/images/checkout/payment_icons.jpg" alt="" class="ml10 img img-responsive text-lighter-1x" style="display: inline-block;">
              </div>
              </div>
            </div>
          </div>

          <div class="clearfix">
            <div class="col-md-3">
              <ul class="nav nav-pills nav-stacked bg-white mb20 dropshadow hidden-xs hidden-sm">
                <li
                  ng-repeat="p_option in payment_options"
                  ng-click="!p_option.active || set_active_payment_option($index)"
                  ng-class="{'disabled': !p_option.active, 'active': is_active_payment_option($index)}"
                  >
                  <a class="withripple">
                    {{'checkout.payment_options.' + p_option.id + '.label' | translate}}
                    <i ng-if="!!p_option.icon" class="{{p_option.icon}}" style="max-height: 15px;"></i>
                    <img ng-if="!!p_option.image" ng-src="{{p_option.image}}" alt="{{'checkout.payment_options.' + p_option.id + '.label' | translate}}" style="max-height: 15px;" />
                    <i class="fa fa-chevron-circle-right pt5 pull-right"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-9">
              <uib-tabset active="active_payment_option" vertical="true" class="white-bg dropshadow">
                <uib-tab index="$index" ng-repeat="p_option in payment_options">
                  <div class="p20 clearfix" ng-include="p_option.view"></div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 mt20">
            <div class="pull-right">
              <div class="checkbox clearfix">
                <label>
                  <input id="info_toc" ng-model="info.form_data.toc" name="toc" type="checkbox" required>
                  <span class="pl5">
                    {{ 'general.form.toc_agreement.label' | translate }}
                    <a ui-sref="root.toc" target="_blank">
                      {{ 'general.form.toc_agreement.link' | translate }}
                    </a>
                  </span>
                </label>
              </div>
              <div ng-if="info.show_form_errors" class="pt20">
                <div ng-if="info_form.toc.$error.required" class="alert alert-danger dropshadow">
                  {{ 'general.form.toc_agreement.error_required' | translate }}
                </div>
                <div ng-if="info_form.$error.required" class="alert alert-danger dropshadow">
                  {{ 'general.form.error.required' | translate }}
                </div>
              </div>
              <div>
                <a class="btn btn-lg btn-orange btn-raised pull-right" ng-click="info.submit()">
                  {{ 'checkout.place_order' | translate }}
                  <i class="fa fa-chevron-circle-right pl5"/>
                </a>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>


<modal id="login_modal" size='sm' title="{{'general.login' | translate}}" visible="{{showModal}}" parent-visible-attr="showModal" close="false" success="false">
  <form id="checkout-login-form" ng-submit="login_function($event)" role="form" ng-keydown="key_watch_login($event)">
    <div class="form-group label-floating is-empty" show-errors>
      <label class="control-label" for="email">{{'general.form.email.label' | translate}}</label>
      <input id="checkout-login-email" focus-on="root.checkout.info.login.email" autofocus ng-model="email" name="email" type="email" class="form-control" id="email" required/>
    </div>
    <div class="form-group label-floating is-empty" show-errors>
      <label class="control-label" for="password">{{'general.form.password.label' | translate}}</label>
      <input id="checkout-login-password" ng-model="password" name="password" type="password" class="form-control" id="password" required />
    </div>
    <button type="submit" class="btn btn-orange pull-right">
      {{'general.login' | translate}}
      <i class="fa fa-chevron-circle-right pl5"></i>
    </button>
    <div class="clearfix"></div>
  </form>
</modal>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
